<div class="row">
  <div class="col-10 md-2">
    <h1 style="margin-top: 1ch">Shopping Cart</h1>
    
    <div class="row">
      <div class="col-lg-6">
        <button
          [routerLink]="['/product-tab']"
          style="margin-right: 100ch"
          class="btn btn-info animate-up-2 mr-2"
          type="button"
        >
          Continue Shooping
        </button>
      </div>
      <div class="col-">
        <button
          [routerLink]="['/checkout']"
          style="margin-left: 95ch"
          class="btn btn-success animate-up-2 mr-2"
          type="button"
        >
          Proceed to Checkout
        </button>
      </div>
    </div>

    <ng-container *ngIf="products.length == 0">
      <div class="alert alert-info shadow-soft" role="alert">
        <span class="alert-inner--text"
          >Your Cart is Empty
          <a href="#" class="alert-link"
            >Click here to Checkout our Products</a
          ></span
        >
      </div>
    </ng-container>

    <ng-container *ngIf="products.length != 0">
      <div style="-moz-box-align: center" class="container">
        <!-- Check Code here -->
        <!-- <ng-container *ngIf="true"> -->
        <div class="card bg-primary shadow-soft border-light px-lg-2 mb-5">
          <ng-container *ngFor="let item of products; let i = index">
            <div class="row align-items-center">
              <div class="col-3">
                <a href="#">
                  <img src="{{ item.Image1 }}" alt="apple watch series" />
                </a>
              </div>
              <div class="col">
                <div class="d-flex mb-2 font-weight-bold">
                  <a class="h5" href="#">{{ item.title }}</a>
                  <span class="h5 ml-auto">{{ item.price }}</span>
                </div>

                <ul class="pl-3">
                  <li class="small">{{ item.Description }}</li>
                  <li class="small">Moneyback: 1 month</li>
                  <li class="small">Warranty: 24 months</li>
                </ul>
                <div class="d-flex align-items-center">
                  <!-- Form -->
                  <div class="form-group">
                    <label class="h6" for="inlineFormCustomSelectPref3"
                      >Qty</label
                    >
                    <select
                      class="custom-select w-auto"
                      id="inlineFormCustomSelectPref3"
                    >
                      <option selected>{{ i + 1 }}</option>
                      <option value="1">2</option>
                      <option value="2">3</option>
                      <option value="3">4</option>
                    </select>
                  </div>
                  <!-- End of Form -->
                  <div class="ml-auto">
                    <a (click)="removeItem(item)" class="btn-link text-dark"
                      ><span class="far fa-trash-alt mr-2"></span>Remove
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <!-- </ng-container> -->

        <!-- </ng-container> -->
      </div>
      <div class="card-body p-0">
        <ul class="list-group list-group-sm mt-3">
          <li class="list-group-item d-flex font-weight-bold rounded-bottom h5">
            <span>Total</span> <span class="ml-auto">Rs {{ grandTotal }}</span>
          </li>
        </ul>
        <a
          class="btn btn-block btn-primary mt-4 mb-3"
          [routerLink]="['/billing']"
          >Place Order</a
        >
        <small
          >By placing the order you are confirming that you are over 16 years of
          age and you agree with our
          <a href="#">Terms and Conditions</a>.</small
        >
      </div>
      <a
        (click)="emptycart()"
        style="margin-left: 100ch"
        class="btn-link text-dark"
        ><span class="far fa-trash-alt mr-2"></span>Empty Cart
      </a>
      <!-- </div> -->
    </ng-container>
  </div>
</div>
