<header class="header-global">
  <nav
    id="navbar-main"
    aria-label="Primary navigation"
    class="
      navbar navbar-main navbar-expand-lg navbar-theme-primary
      headroom
      navbar-light
    "
  >
    <div class="container position-relative">
      <a
        class="
          navbar-brand
          shadow-soft
          py-2
          px-3
          rounded
          border border-light
          mr-lg-4
        "
        [routerLink]="['/']"
      >
        <!-- <img
          class="navbar-brand-dark"
          src="../../../assets/img/blog/blog-article-1.jpg"
          alt="Logo light"
        /> -->
        <img
          class="navbar-brand-light"
          src="../../../assets/img/brand/LOGO.png"
          alt="Logo dark"
        />
      </a>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a
                [routerLink]="['/']"
                class="
                  navbar-brand
                  shadow-soft
                  py-2
                  px-3
                  rounded
                  border border-light
                "
              >
                <img
                  src="../../../assets/img/brand/LOGO.png"
                  alt="Computezz logo"
                />
              </a>
            </div>
            <div class="col-6 collapse-close">
              <a
                href="#navbar_global"
                class="fas fa-times"
                data-toggle="collapse"
                data-target="#navbar_global"
                aria-controls="navbar_global"
                aria-expanded="false"
                title="close"
                aria-label="Toggle navigation"
              ></a>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a [routerLink]="['/']" class="nav-link" data-toggle="dropdown">
              <span class="nav-link-inner-text">Home</span>
              <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="../../html/pages/about.html"
                  >About Us</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../../html/pages/pricing.html"
                  >Custom PC Build</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../../html/pages/contact.html"
                  >Best Offers</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../../html/pages/sign-in.html"
                  >Review & Ratings</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../../html/pages/sign-up.html"
                  >Our Social Links</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown mega-dropdown">
            <a
              [routerLink]="['/product-tab']"
              class="nav-link"
              data-toggle="dropdown"
            >
              <span class="nav-link-inner-text">Products</span>
              <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
            </a>
            <div class="dropdown-menu">
              <div class="row">
                <div class="col-lg-6 inside-bg d-none d-lg-block">
                  <!-- <div class="px-6 pb-5 pt-3">
                      <img
                        src="./assets/img/megamenu-image.jpg"
                        alt="Pixel Components"
                      />
                    </div> -->
                  <div class="justify-content-center bg-primary text-white">
                    <div class="col-md-10">
                      <!-- Carousel -->
                      <div
                        id="Carousel1"
                        class="
                          carousel
                          slide
                          shadow-soft
                          border border-light
                          p-4
                          rounded
                        "
                        data-ride="carousel"
                      >
                        <div class="carousel-inner rounded">
                          <div class="carousel-item active">
                            <img
                              src="../../../assets/img/carousel/image-1.jpg"
                              class="d-block w-100"
                              alt="slide1"
                            />
                          </div>
                        </div>
                      </div>
                      <!-- End of Carousel -->
                    </div>
                    <!-- <div class="row justify-content-center"></div> -->
                    <br>
                    <div class="z-2 pb-4 text-center">
                      <a
                        href="../../html/components/all.html"
                        class="btn btn-primary mb-2 mb-sm-0 mr-3 text-secondary"
                      >
                        <span class="mr-1"
                          ><span class="fas fa-th-large"></span
                        ></span>
                        Individual User
                      </a>
                      <a
                        href="https://themesberg.com/docs/neumorphism-ui/components/alerts"
                        target="_blank"
                        class="btn btn-primary mb-2 mb-sm-0"
                      >
                        <span class="mr-1"
                          ><span class="fas fa-book"></span
                        ></span>
                        Corporate User
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col pl-0">
                  <ul class="list-style-none">
                    <li>
                      <!-- (click)="filter('Desktop')" -->
                      <a
                        class="dropdown-item"
                        >Desktops</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/alerts.html"
                        >Laptops</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/badges.html"
                        >Premade CPU'S</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/bootstrap-carousels.html"
                        >Computer Accessories</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/breadcrumbs.html"
                        >Audio Systems</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/buttons.html"
                        >Antivirus</a
                      >
                    </li>
                    <li>
                      <a
                        class="
                          dropdown-item
                          d-flex
                          align-items-center
                          justify-content-between
                        "
                        href="https://themesberg.com/docs/neumorphism-ui/plugins/jquery-counters/"
                        target="_blank"
                        >Memory Devices
                        <span class="badge badge-dark ml-3">new</span></a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/cards.html"
                        >Networking</a
                      >
                    </li>
                    <li>
                      <a
                        class="
                          dropdown-item
                          d-flex
                          align-items-center
                          justify-content-between
                        "
                        href="https://themesberg.com/docs/neumorphism-ui/components/e-commerce/"
                        target="_blank"
                        >Spyguards
                        <span class="badge badge-dark ml-3">new</span></a
                      >
                    </li>
                  </ul>
                </div>
                <div class="col pl-0">
                  <ul class="list-style-none">
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/forms.html"
                        >Processors</a
                      >
                    </li>
                    <li>
                      <a
                        class="
                          dropdown-item
                          d-flex
                          align-items-center
                          justify-content-between
                        "
                        href="https://themesberg.com/docs/neumorphism-ui/components/icon-boxes/"
                        target="_blank"
                        >Motherboards
                        <span class="badge badge-dark ml-3">New</span></a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/modals.html"
                        >Memory</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/navs.html"
                        >SSD</a
                      >
                    </li>
                    <li>
                      <a
                        class="
                          dropdown-item
                          d-flex
                          align-items-center
                          justify-content-between
                        "
                        href="https://themesberg.com/docs/neumorphism-ui/plugins/owl-carousel/"
                        target="_blank"
                        >Graphic Cards
                        <span class="badge badge-dark ml-3">new</span></a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/pagination.html"
                        >HDD</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/popovers.html"
                        >Power Supply</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/progress-bars.html"
                        >CPU Coolers</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="col pl-0">
                  <ul class="list-style-none">
                    <li>
                      <a
                        class="
                          dropdown-item
                          d-flex
                          align-items-center
                          justify-content-between
                        "
                        href="https://themesberg.com/docs/neumorphism-ui/components/icon-boxes/#steps"
                        target="_blank"
                        >Monitor
                        <span class="badge badge-dark ml-3">Latest</span></a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/tables.html"
                        >Work Tables</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/tabs.html"
                        >Gaming Chairs</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/toasts.html"
                        >Gaming Setups</a
                      >
                    </li>
                    <li>
                      <a
                        class="
                          dropdown-item
                          d-flex
                          align-items-center
                          justify-content-between
                        "
                        href="https://themesberg.com/docs/neumorphism-ui/components/timelines/"
                        target="_blank"
                        >UPS <span class="badge badge-dark ml-3">NEW</span></a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/tooltips.html"
                        >Toolkits</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="../../html/components/typography.html"
                        >NAS</a
                      >
                    </li>
                    <li>
                      <a
                        class="
                          dropdown-item
                          d-flex
                          align-items-center
                          justify-content-between
                        "
                        href="https://demo.themesberg.com/neumorphism-ui-pro/html/components/widgets.html"
                        target="_blank"
                        >WIRELESS
                        <span class="badge badge-dark ml-3">new</span></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <!-- <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown">
              <span class="nav-link-inner-text">About us</span>
              <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="../../html/pages/about.html"
                  >About</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../../html/pages/pricing.html"
                  >Pricing</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../../html/pages/contact.html"
                  >Contact</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../../html/pages/sign-in.html"
                  >Sign in</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="../../html/pages/sign-up.html"
                  >Sign up</a
                >
              </li>
            </ul>
          </li> -->

          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown">
              <span class="nav-link-inner-text">Support</span>
              <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg">
              <div class="col-auto px-0" data-dropdown-content>
                <div class="list-group list-group-flush">
                  <a
                    href="https://themesberg.com/docs/neumorphism-ui/getting-started/quick-start/"
                    target="_blank"
                    class="
                      list-group-item list-group-item-action
                      d-flex
                      align-items-center
                      p-0
                      py-3
                      px-lg-4
                    "
                  >
                    <span class="icon icon-sm icon-secondary"
                      ><span class="fas fa-file-alt"></span
                    ></span>
                    <div class="ml-4">
                      <span class="text-dark d-block"
                        >Documentation<span
                          class="badge badge-sm badge-secondary ml-2"
                          >Updated</span
                        ></span
                      >
                      <span class="small">Manuals & guides</span>
                    </div>
                  </a>
                  <a
                    href="https://github.com/themesberg/neumorphism-ui/issues"
                    target="_blank"
                    class="
                      list-group-item list-group-item-action
                      d-flex
                      align-items-center
                      p-0
                      py-3
                      px-lg-4
                    "
                  >
                    <span class="icon icon-sm icon-secondary"
                      ><span class="fas fa-microphone-alt"></span
                    ></span>
                    <div class="ml-4">
                      <span class="text-dark d-block"
                        >Customer Assistance<span
                          class="badge badge-sm badge-secondary ml-2"
                          >24/7</span
                        ></span
                      >
                      <span class="small">EMAIL, CALL, SKYPE</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </li>

          <div style="width: 300px" class="form-group mb-4">
            <div class="input-group input-group-shadow">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="searchTerm"
                (keyup)="search($event)"
                placeholder="Find Anything"
              />
              <div class="input-group-append">
                <span class="input-group-text"
                  ><i class="fas fa-search"></i
                ></span>
              </div>
            </div>
          </div>
        </ul>
      </div>

      <div class="d-flex align-items-center">
        <a
          [routerLink]="['/sign-up']"
          target="_blank"
          class="btn btn-primary text-secondary d-none d-md-inline-block mr-3"
          ><i class="fas fa-user-plus"></i> Register as Seller</a
        >
        <div class="">
          <!-- Check Code here add badge number -->
          <a routerLink="cart" class="btn btn-primary"
            ><span class="badge badge-sm badge-secondary ml-2">{{
              totalItem
            }}</span
            ><i class="fas fa-shopping-cart"></i> My Cart</a
          >
        </div>
        <button
          class="navbar-toggler ml-2"
          type="button"
          data-toggle="collapse"
          data-target="#navbar_global"
          aria-controls="navbar_global"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
</header>
