<p>thank-you works!</p>

<div style="margin-top: 20ch;" class="alert alert-success shadow-soft mb-4 mb-lg-5" role="alert">
  <span class="alert-inner--icon icon-lg"><span class="far fa-thumbs-up"></span></span>
  <span class="alert-heading">Thank you for ordering from us</span>
  <p>Your Order will be delivered in 4-5 days. in case any queries cotact customer support email@email.com</p>
  <hr>
  <p class="mb-0">Your Order-ID is 234561. Yor Payment is successfully done. Transaction-ID is 123456985 </p>
  <hr>
  <p class="mb-0">Have a Great Day Ahead </p>
</div>
