<p>billing works!</p>
<div class="row">
  <div class="col-12">
      <nav>
          <div class="nav nav-pills nav-fill flex-column flex-sm-row" id="nav-tab-ecommerce" role="tablist">
              <a class="nav-item nav-link mr-4 mr-md-3 active" id="nav-credit-card-tab" data-toggle="tab" [routerLink]="['/thankyou']" role="tab" aria-controls="nav-credit-card" aria-selected="true">
                  Credit Card
              </a>
              <a class="nav-item nav-link mr-4 mr-md-3" id="nav-paypal-tab" data-toggle="tab" [routerLink]="['/thankyou']" role="tab" aria-controls="nav-paypal" aria-selected="false">
                  UPI
              </a>
              <a class="nav-item nav-link" id="nav-wire-tab" data-toggle="tab" [routerLink]="['/thankyou']" role="tab" aria-controls="nav-wire" aria-selected="false">
                  Cash On Delivery
              </a>
          </div>
      </nav>
      <div class="tab-content mt-4 mt-lg-5" id="nav-tabContent-ecommerce">
          <div class="tab-pane fade show active" id="nav-credit-card" role="tabpanel" aria-labelledby="nav-credit-card-tab">
              <div class="card bg-primary shadow-soft border-light p-3 mb-4">
                  <div class="card-header border-light p-3">
                      <h3 class="h5 mb-0">Billing details</h3>
                  </div>
                  <div class="card-body p-4">
                      <div class="row justify-content-center">
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputEmail1">Email address *</label>
                                  <input type="email" class="form-control" placeholder="example@company.com" id="cartInputEmail1" aria-describedby="cartInputEmail1" required>
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!--Form-->
                              <div class="form-group">
                                  <label class="my-1 mr-2" for="cartFormCustomSelectPref1">Country</label>
                                  <select class="custom-select my-1 mr-sm-2" id="cartFormCustomSelectPref1">
                                      <option selected>Choose...</option>
                                      <option value="1">United States</option>
                                      <option value="2">Germany</option>
                                      <option value="3">Canada</option>
                                  </select>
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputAdress1">Adress</label>
                                  <input type="text" placeholder="e.g. Texas" class="form-control" id="cartInputAdress1" aria-describedby="cartInputAdress1">
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputCity1">City</label>
                                  <input type="text" placeholder="e.g. Dallas" class="form-control" id="cartInputCity1" aria-describedby="cartInputCity1">
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputZip1">Zip/Postal code</label>
                                  <input type="number" placeholder="e.g. 123456" class="form-control" id="cartInputZip1" aria-describedby="cartInputZip1">
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputCompany1">Company Name *</label>
                                  <input type="text" placeholder="e.g. Themesberg LLC" class="form-control" id="cartInputCompany1" aria-describedby="cartInputCompany1" required>
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputVAT1">GST-IN *(optional)</label>
                                  <input type="number" placeholder="e.g. gst123456789" class="form-control" id="cartInputVAT1" aria-describedby="cartInputVAT1" required>
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputPhone1">Phone Number</label>
                                  <input type="number" placeholder="e.g. +(91)98345 76789" class="form-control" id="cartInputPhone1" aria-describedby="cartInputPhone1">
                              </div>
                              <!-- End of Form -->
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card bg-primary shadow-soft border-light p-3 mb-4">
                  <div class="card-header border-light p-3">
                      <h3 class="h5 mb-0">Card details</h3>
                  </div>
                  <div class="card-body p-4">
                      <div class="row justify-content-center">
                          <div class="col-12 col-md-10">
                              <div class="form-group">
                                  <label class="form-label" for="cardNameLabel"><span class="small text-dark">(Full name as displayed on card)</span></label>
                                  <div class="input-group mb-4">
                                      <input class="form-control" id="cardNameLabel" placeholder="Name on Card *" type="text" required=""> </div>
                              </div>
                          </div>
                          <div class="col-12 col-lg-10">
                              <div class="form-group">
                                  <label class="form-label h6" for="cardNumberLabel">Card Number <span class="text-danger">*</span></label>
                                  <div class="input-group mb-4">
                                      <div class="input-group-prepend"> <span class="input-group-text"><span class="fas fa-credit-card"></span></span> </div>
                                      <input class="form-control" id="cardNumberLabel" placeholder="0000 0000 0000 0000" type="number" required=""> </div>
                              </div>
                          </div>
                          <div class="col-12 col-md-5 mb-3">
                              <div class="form-group">
                                  <label class="form-label h6" for="cardCVCLabel">CVC <span class="text-danger">*</span></label>
                                  <input class="form-control" id="cardCVCLabel" placeholder="CVC" type="number" required=""> </div>
                          </div>
                          <div class="col-12 col-md-5 mb-3">
                              <div class="form-group">
                                  <label class="form-label h6" for="cardExpiryLabel">Card Expiry <span class="text-danger">*</span></label>
                                  <div class="input-group mb-4">
                                      <div class="input-group-prepend"> <span class="input-group-text"><span class="fas fa-calendar-alt"></span></span> </div>
                                      <input class="form-control" id="cardExpiryLabel" placeholder="MM / YY" type="number" required=""> </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="nav-paypal" role="tabpanel" aria-labelledby="nav-paypal-tab">
              <div class="card bg-primary shadow-soft border-light p-3 mb-4">
                  <div class="card-header border-light p-3">
                      <h3 class="h5 mb-0">Billing details</h3>
                  </div>
                  <div class="card-body p-4">
                      <div class="row justify-content-center">
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputName2">Full Name *</label>
                                  <input type="text" class="form-control" placeholder="e.g. Christopher Wood" id="cartInputName2" aria-describedby="cartInputName2" required>
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputEmail2">Email address *</label>
                                  <input type="email" class="form-control" placeholder="example@company.com" id="cartInputEmail2" aria-describedby="cartInputName2" required>
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 text-center">
                              <button type="submit" class="btn btn-paypal text-black"><span class="fab fa-paypal mr-2"></span>Check out with Paypal</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="nav-wire" role="tabpanel" aria-labelledby="nav-wire-tab">
              <div class="card bg-primary shadow-soft border-light p-3 mb-4">
                  <div class="card-header border-light p-3">
                      <h3 class="h5 mb-0">Billing details</h3>
                  </div>
                  <div class="card-body p-4">
                      <div class="row justify-content-center">
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputEmail3">Email address *</label>
                                  <input type="email" class="form-control" placeholder="example@company.com" id="cartInputEmail3" aria-describedby="cartInputEmail3" required>
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!--Form-->
                              <div class="form-group">
                                  <label class="my-1 mr-2" for="cartFormCustomSelectPref3">Country</label>
                                  <select class="custom-select my-1 mr-sm-2" id="cartFormCustomSelectPref3">
                                      <option selected>Choose...</option>
                                      <option value="1">United States</option>
                                      <option value="2">Germany</option>
                                      <option value="3">Canada</option>
                                  </select>
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputAdress3">Adress</label>
                                  <input type="text" placeholder="e.g. Texas" class="form-control" id="cartInputAdress3" aria-describedby="cartInputAdress3">
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputCity3">City</label>
                                  <input type="text" placeholder="e.g. Dallas" class="form-control" id="cartInputCity3" aria-describedby="cartInputCity3">
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputZip3">Zip/Postal code</label>
                                  <input type="number" placeholder="e.g. 123456" class="form-control" id="cartInputZip3" aria-describedby="cartInputZip3">
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputCompany3">Company Name *</label>
                                  <input type="text" placeholder="e.g. Themesberg LLC" class="form-control" id="cartInputCompany3" aria-describedby="cartInputCompany3" required>
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputVAT3">VAT ID *</label>
                                  <input type="number" placeholder="e.g. US12345" class="form-control" id="cartInputVAT3" aria-describedby="cartInputVAT3" required>
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <!-- Form -->
                              <div class="form-group mb-4">
                                  <label for="cartInputPhone3">Phone Number</label>
                                  <input type="number" placeholder="e.g. +(12)345 6789" class="form-control" id="cartInputPhone3" aria-describedby="cartInputPhone3">
                              </div>
                              <!-- End of Form -->
                          </div>
                          <div class="col-12 col-lg-10">
                              <p class="small mb-4">For Bank/Wire transfer, product delivery takes place only after payment is received in full. Paying by credit card usually offers you immediate access to the products you ordered.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
